* {
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    width: 80%;
}

.card {
    display: flex;
    justify-content: space-evenly;
    /*align-items: ;*/
    flex-direction: column;
    /*width: 60%;*/
    box-shadow: 4px 4px dodgerblue;
    /*border-radius: 5px;*/
    padding: 10px;
    border: 1px solid dodgerblue;
}
.card-file {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type=file] {
    background: #ccc;
    padding: 5px;
}
input[type=file] input[type=button] {
    background: black;
}
.subtitle {
    color: #ccc;
    text-align: center;
    /*padding: 0;*/
    /*margin: 0;*/
}

input[type=file] {
    opacity: 0;
    width: 2px;
}

label[for="choose-test"], button {
    /*color: red;*/
    /*border: 1px solid light;*/
    padding: 5px;
    background-color: #2ccccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px dodgerblue;
    border: none;
}

label[for="choose-test"]:active, button:active {
    box-shadow: inset 2px 2px dodgerblue;
}

.hidden {
    display: none;
}

#progress-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#progress-wrap > progress {
    width: 80%;
}

#test-correct-answer-count {
    color: green;
}
#test-wrong-answer-count {
    color: red;
}

.card#question {
    box-shadow: none;
    border: none;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.card#question > button {
    width: 100px;
    margin: 0 auto;
}